<footer>
  <mat-toolbar style="max-width: 100%">
    <mat-toolbar-row class="tool-bar">
      <div class="col-md-2">
        <a href="https://sikkimtourism.gov.in" target="_blank"> <img src="../../../content/images/sikkimtourism-logo.png" alt="" class="img-bar" matTooltip="Sikkim Tourism" /></a>
      </div>

      <div class="col-md-2">
        <a href="https://mygov.in" target="_blank">  <img src="../../../content/images/mygov.png" alt="" class="img-bar" matTooltip="My Gov" /></a>
      </div>
      <div class="col-md-2">
        <a href="https://swachhbharatmission.ddws.gov.in/" target="_blank"> <img src="../../../content/images/sb.png" alt="" class="img-bar"  matTooltip="Swachh Bharat Mission" /></a>
      </div>
      <div class="col-md-2">
        <a href="https://www.digitalindia.gov.in/" target="_blank"> <img src="../../../content/images/di.png" alt="" class="img-bar"  matTooltip="Digital India" /></a>
      </div>
      <div class="col-md-2">
        <a href="https://indianfrro.gov.in/eservices/" target="_blank"><img src="../../../content/images/boi.jpg" alt="" class="img-bar"  matTooltip="eFRRO Portal" /></a>
      </div>
      <div class="col-md-2">
        <a href="https://mygov.in" target="_blank"><img src="../../../content/images/pologo1.png" alt="" class="img-bar" matTooltip="Sikkim Police"/></a>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>
  <!-- Copyright -->

  <div class="row" style="background-color: #A04747; padding: 0; margin: 0">
    <div class="col-md-10 footer-text">
      <!-- Copyright -->
      © 2024 Copyright: Designed & Developed by National Informatics Centre, Gangtok, Sikkim
    </div>
    <div class="col-md-2" id="right">
      <img class="footer-img" src="./../../../content/images/nic_logo.png" alt="" />
    </div>
    <!-- <div class="col-md-6">
    <div class="text-center p-3 shadow-sm">
      <a href="https://sikkim.nic.in/" target="blank"> <img src="./assets/images/akamlogo.jpg" height=55  width=100> </a>
      <a href="https://sikkim.nic.in/" target="blank"> <img src="./assets/images/nic_logo.png" height=45> </a>
      <img src="./assets/images/digital_india.png" height=55 width=210>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
       <img src="./assets/images/logog20.jpg" height=55 width=210>
    </div>
    
    
  </div> -->
  </div>
</footer>
