/* ==========================================================================
Main page styles
========================================================================== */


.responsive-image {
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;

    width: 350px;
    /* Adjust height as needed */
    height: 100%;
    /* Maintain aspect ratio */
}

