<div class="row col-12">

  <div class="col-lg-4 col-md-6 p-0">
    <div class="hipster">

      <div class="row col-md-12 "> <img src="../../content/images/govt_sikkim.png" class="responsive-image">
      </div>

    </div>
  </div>
  <div class="col-lg-8 col-md-6 pr-0">
    <h1 class="cus-page-title pt-3"><span jhiTranslate="home.title">About Us</span></h1>

    <!-- <p class="lead">
      The State Election Commission of Sikkim was constituted as an independent constitutional body in pursuance of the Seventy Third and
      Seventy Fourth Amendment of the Constitution of India and is vested with the responsibility for superintendence, direction and control
      of preparation of electoral rolls for and the conduct of all elections to local bodies in a free and fair manner.
    </p> -->

    <p class="lead">
      Sikkim (/ˈsɪkɪm/) is a state in northeastern India. It borders Tibet in the north and northeast, Bhutan in the
      east, Nepal in the west, and West Bengal in the south. Sikkim is also located close to India's Siliguri Corridor
      near Bangladesh. Sikkim is the least populous and second smallest among the Indian states. A part of the Eastern
      Himalaya, Sikkim is notable for its biodiversity, including alpine and subtropical climates, as well as being a
      host to Kangchenjunga, the highest peak in India and third highest on Earth.
    </p>
    <p class="lead">
      Every foreigner (excluding people of Bhutanese origin), who desires to enter and stay in a Protected or Restricted
      Area of Sikkim, is supposed to apply on this portal, attach the
      copy of the required documents and seek approval on the same from the delegated competent authority.

      Citizens of Nepal/Bangladesh may only produce a valid identity card reflecting their origin while applying for
      permit.

      All foreigners visiting State must register themselves within 24 hours of their arrival.
    </p>

    <p class="lead">
      The issuance of a RAP requires prior clearance in the following cases (Sl. no. 1, 2, and 3):


    </p>
    <p class="lead ml-3">
      1. Nationals, OCIs, or citizens of Pakistan, Afghanistan, or China including Hong Kong and Macau, must obtain
      prior approval from the Ministry of Home Affairs, Government
      of India, New Delhi, before applying for a RAP.

    </p>
    <p class="lead ml-3">
      2. Individuals of Pakistani, Afghan, or Chinese origin (by birth) including Hong Kong and Macau, must receive
      prior approval from the Ministry of Home Affairs,
      Government of India, New Delhi, before applying for a RAP.

    </p>
    <p class="lead ml-3">

      3. Individuals with a birthplace in or who are nationals, OCIs, or citizens of Myanmar or Nigeria need prior
      clearance from either the Ministry of Home Affairs or the Home Department of Sikkim before entering the State.

    </p>
    <p class="lead">
      Foreigners are allowed to stay only for a maximum duration of 30 days. Application for any extension of the period
      of permit must be made at least 2 days before expiry of permit.

      Extension of RAP beyond 30 days can be obtained from the Foreigners Registration Office, Gangtok and
      Superintendent of Police at Namchi, Mangan and Gyalshing for however the duration of stay in totality should not
      exceed 60 days.
    </p>
    <div class="row mb-3">
      <div class="col-12">
        <button mat-raised-button color="primary" (click)="goToLogin()">Login to Portal</button>
        <button class="ml-2" mat-raised-button color="accent">Register on the Portal</button>
      </div>
    </div>
  </div>

</div>